<div class="site-footer">
  <div class="content">
    Like much of Bangladesh, Dhaka is known for its staples of fish, vegetables,
    lentils and rice, while curries are commonplace. There's plenty of
    comforting flavours and generous portions to be found at many a restaurant
    in this bustling city. Feast on fresh naans and kebabs packed with succulent
    fillings, bite into meaty biryani or indulge your taste buds with local
    delicacies like Morog Pulao. However big or small your appetite, you'll find
    something to satisfy when you opt to order food delivery with foodpanda.
  </div>
  <div class="content">asdfj lksjdf hkjsad fkjasdhf kjsad fkjasdhf</div>
  <div class="content">asdfj lksjdf hkjsad fkjasdhf kjsad fkjasdhf</div>
</div>
<div class="site-info">
  ©2021-{{ currentYearLong() }}, Foodie Mama, Bangladesh. All rights reserved.
  Powered by Foodie Mama.
</div>
