div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background-color:  #f3e6ec;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.4rem;
  border-radius: 10rem;
  font-size: 14px;
  color:#8b0b41;
}
